.example-spacer {
    flex: 1 1 auto;
  }
  
  table {
    width: 100%;
  }
  
  .btnEdit,
  .btnDelete {
    cursor: pointer;
  }
  
  .btnDelete {
    color: red;
  }
  
  .btnEdit {
    color: blue;
  }