.example-spacer {
    flex: 1 1 auto;
  }
  
  table {
    width: 100%;
  }
  
  .btnEdit,
  .btnDelete {
    cursor: pointer;
  }
  
  .btnDelete {
    color: rgb(181, 46, 49);
  }

  th{
    background-color:  #E0E0E0 !important;;
  }