.mat-toolbar {
   background-color: #2E71B5; /* Cambia el color a tu preferencia */
    color: white; /* Cambia el color del texto a blanco o el color que desees */
    border-bottom: 1px solid #6b6b6b;
  }

 mat-tolbar img{
    width: 10px;
    height: 20x;
    border-radius: 0%;
    border: 1px solid transparent
 }
 .profile {
    height: 100%;
}
span{
   font-size: 16px;
}



