.mat-toolbar {
   background-color: rgb(154, 208, 194);
   color: white !important;
  
}


span {
   font-size: 16px;
}

::ng-deep .borrar {
   padding-right: 0px !important;
 }

.principal {
   background-color: #2E71B5;
}



