@import "~@fortawesome/fontawesome-free/css/all.css";

footer {
    background-color: rgb(45, 149, 150);
    color: #fff;
    text-align: center ;
    padding: 3px;
}

.social-icons a {
    margin: 0 10px;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}

.social-icons a:hover {
    color: #44484c;
}

p {
    margin-top: 2px;
}