
.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px; /* Ajusta el valor según tus necesidades */
    text-align: center;
  }
 
  .container {
    padding: 5px 0;
    background-color: whitesmoke;
   
  }
  
  .mat-list-item-content:hover {
    background-color: #958989; /* Cambia el color de fondo al pasar el ratón por encima */
    cursor: pointer; /* Cambia el cursor al pasar el ratón por encima */
  }
  
  .boton-cobrar-container {
    text-align: right; /* Alinea el botón a la derecha */
    margin-top: 20px; /* Agrega espacio superior según tus necesidades */
    
  }

  .nombre-apellido {
    margin: 0 20px; /* Añade espacio entre los iconos y el nombre */
    font-size: 24px; /* Ajusta el tamaño a tu preferencia */
    font-weight: bold;
    color: rgba(0, 0, 0, 0.54);
    font-weight: bold;
  }


  p{
    padding-left: 20px;
  }
  
  .botones{
    background-color: rgb(45, 149, 150) !important;
    color: white !important;
  }
  
