<gst-spiner [showSpinner]="showSpinner"></gst-spiner>
<div fxLayout fxLayoutAlign="center" class="container">
    <mat-card fxFlex="1 1 95%" class="mat-elevation-z15">
        <mat-card-content>
            <div  fxLayout fxLayoutGap="20px">
                <mat-form-field appearance="outline">
                    <mat-label>Buscar</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ingrese datos a buscar" autocomplete="off">
                  </mat-form-field>
                    <button mat-raised-button color="accent" (click)="cambiarFila(false)" *ngIf="filaActual > 0"
                        aria-label="Anterior">Atras</button>
                    <h1 class="nombre-apellido">{{ nombresApellidos[filaActual] }}</h1>
                    <button mat-raised-button color="accent" (click)="cambiarFila(true)"
                        *ngIf="filaActual < nombresApellidos.length - 1" aria-label="Siguiente">
                        Siguiente
                    </button>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap class="container">
    <div class="left-half">
        <div fxLayout fxLayoutAlign="center" class="container">
            <mat-card fxFlex="1 1 95%" class="mat-elevation-z15">
                <gst-table [data]="datas" [metaDataColumns]="filtrarMetaColumnas(metaDataColumns)"
                    (actionClicked)="agrgarCarrito($event.accion, $event.rowData)"></gst-table>
                <gst-paginator (onChangePage)="changePage($event)" [length]="totalRecords"></gst-paginator>
            </mat-card>
        </div>
    </div>
   
    <div class="right-half">
        <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let fila of filasSeleccionadas" (click)="eliminarDelCarrito(fila)">
                <div class="mat-list-item-content">
                    {{ fila.TIPO_MED }} - {{ fila.MES_CON }} -{{ fila.SUM_TOTAL}}
                </div>
            </mat-list-item>
        </mat-list>
        <h2>Suma Total: ${{ totalCarrito.toFixed(2) }}</h2>
        <div class="boton-cobrar-container">
            <button mat-raised-button color="accent" (click)="cobrar()" [disabled]="totalCarrito === 0">Cobrar</button>
        </div>
    </div>
</div>