mat-nav-list {
  width: 95%;
  height: calc(100vh - 64px);
}

mat-list-item {
  margin-top: 7px;

}

span {
  display: inline-block;
  padding-left: 15px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.54);
  font-weight: bold;
}


mat-list-item {
  border-bottom: 1px solid #ddd;
}
/*
.menu-title.clicked {
  color: #3f51b5;
  /* Cambia '#3f51b5' por el color deseado para el texto activo 
}*/

/* Estilos para el efecto hover */
.menu-button:hover .menu-title {
  color: #3f51b5;
  /* Cambia '#3f51b5' por el color deseado en el hover */
}

mat-list-item:hover {
  background-color: #C5CAE9;
}

/*
mat-list-item.clicked {
  background-color: #C5CAE9;
   Color de fondo cuando está seleccionado o activo 
}
*/