<gst-container>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Agregar Actas</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="formulario" fxLayout="row" fxLayoutGap="14px">
                <mat-form-field appearance="outline" fxFlex="15%">
                    <mat-label>ID Sesión Act</mat-label>
                    <input [readonly]="true" matInput formControlName="ID_SESION_ACT" />
                </mat-form-field>
                <div fxFlex="30%">
                    <input type="file" (change)="onFileSelected($event)" accept=".pdf" style="display: none"
                        #fileInput />
                    <button mat-raised-button color="primary" (click)="fileInput.click()">
                        Seleccionar Archivo
                    </button>
                    <span *ngIf="formulario.get('DOCUMENTO')?.value && formulario.get('DOCUMENTO')?.value.name">{{
                        formulario.get('DOCUMENTO')?.value.name }}</span>
                </div>
                <mat-form-field appearance="outline" fxFlex="25%">
                    <mat-label>Observación</mat-label>
                    <input matInput formControlName="OBSERVACION" />
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="guardar()" [disabled]="!formulario.valid">
                    Guardar
                </button>
            </form>
        </mat-card-content>
    </mat-card>
    <ng-scrollbar class="heightMaxScrollbar">
        <gst-table [data]="data" [metaDataColumns]="metaDataColumns"
            (actionClicked)="ejecutarAccion($event.accion, $event.rowData)">
            <ng-template let-row let-columns="columns">
                <tr *ngFor="let rowData of data">
                    <td *ngFor="let column of columns">
                        <ng-container *ngIf="column.key !== 'DOCUMENTO'; else linkColumn">
                            {{ rowData[column.key] }}
                        </ng-container>
                        <ng-template #linkColumn>
                            <a [href]="obtenerEnlaceDescarga(rowData[column.key])"
                                download="documento.pdf">Descargar/Ver</a>
                        </ng-template>
                    </td>
                </tr>
            </ng-template>
        </gst-table>
    </ng-scrollbar>
    <gst-paginator (onChangePage)="changePage($event)" [length]="totalRecords"></gst-paginator>



</gst-container>